---
import "@styles/global.css";
import MinimalLayout from "@layouts/MinimalLayout.astro";

const title = "Page not found";
const lang = "en";
---

<MinimalLayout title={title} lang={lang}>
  <main>
    <h1><a href="/en">This page is missing</a></h1>
    <p>
      And I do not found it, maybe url is wrong. Try to edit it or <a href="/en"
        >go back home.</a>
    </p>
    <br />
    <p>One tip: titles take us to home.</p>
  </main>
</MinimalLayout>
