---
import "@styles/global.css";
import Layout404 from "@layouts/Layout404.astro";

const title = "Página no encontrada";
const lang = "es";
---

<Layout404 title={title} lang={lang}>
  <main>
    <h1><a href="/">Se ha perdido esta página</a></h1>
    <p>
      Y no la he localizado, probablemente la url no sea la correcta. Intentar
      editarla o <a href="/">regresa al inicio.</a>
    </p>
    <br />
    <p>Un tip: los títulos nos llevan a casa.</p>
  </main>
</Layout404>
