---
import "../../styles/global.css";
import Layout from "@layouts/Layout.astro";
---

<Layout title="Despegue | Martin">
	<main>
		<h1>Despegue 游</h1>
		<p>
			Llevo algo de tiempo en que suelo escribir cosas que navegan en mi
			mente, experiencias o simplemente algo que asalta mi atenci칩n. He
			creado un jard칤n digital donde viven esas notas y que generalmente
			me agrada leerlas de vez en cuando.
		</p>
		<br>
		<p>
			Tengo el firme pensamiento sobre compartir el conocimiento a todos,
			pero tambi칠n las experiencias e ideas. No importa la forma en que es
			compartida, lo importante es el contenido. Siento que este proyecto
			me ayudar치 en alg칰n momento de mi vida, alguien mencion칩 una vez:
			"quien no conoce su historia est치 condenado a repetirla".
		</p>
		<br>
		<p>
			Sobre la idea anterior, me ha motivado a crear este proyecto, adem치s
			de mejorar mi habilidad de escritura y el aprender a desarrollar un
			proyecto de tipo web (es primera vez que hago un proyecto como
			este). La principal intenci칩n sobre este proyecto es compartir
			algunos posts sobre lo que ha navegado en mi cabeza y sobre lo que
			he vivido.
		</p>
		<br>
		<p>
			No quiero crear un journal donde actualice cada d칤a, eso ser칤a algo
			forzoso para m칤, la idea es que sea natural o intentar ser natural.
			Espero que los posts no sean largos, almenos unos dos o tres minutos
			en leerse.
		</p>
		<br>
		<p>
			Mantengo una peque침a esperanza de que este proyecto sirva de puente para conectar con otras personas y crear un v칤nculo fuera de las redes sociales convencionales. Espero que as칤 sea.
		</p>
		<br>
		<p>
			Por 칰ltimo, agradezco a <a href="https://manuelmoreale.com/">Manu</a
			> por ser una gran inspiraci칩n.
		</p>
	</main>
</Layout>
