---
import "../../styles/global.css"
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ahora | Martin">
    <main>
        <h1>Qué hago en estos momentos?</h1>
        <ul>
            <li>
                Continuo con el proyecto de los cruceros
            </li>
            <li>
                El equipo sigue invicto en el torneo de volleyball. Quedan 5 partidos para terminar la primera ronda
            </li>
            <li>
                Aún no termino el libro <a
                    href="https://www.goodreads.com/book/show/1212515.El_mundo_de_Sof_a"
                    >El mundo de Sofía</a>
            </li>
            <li>
                Operación Kasacho (se está atrasando mucho, no está en mis manos)
            </li>
            <li>
                Sigo con mejoras para este espacio
            </li>
        </ul>
        <br />
        <p>Actualizado el 2 de Febrero de 2024</p>
    </main>
</Layout>