---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";
import Home from "@components/Home.astro";

const title = "What I'm doing now?";
const lang = "en";
---

<Layout title={title} lang={lang}>
  <main>
    <Home title={title} lang={lang} />
    <ul>
      <li>
        I'm still working on <a href="https://www.royalcaribbean.com/"
          >cruises project</a
        >
      </li>
      <li>Planning my next trip to special place (coming month)</li>
      <li>
        Volleyball team remains undefeated, three more matches to finish the
        first round
      </li>
      <li>
        Reading <a href="https://www.goodreads.com/book/show/170448.Animal_Farm"
          >Animal farm</a
        >
      </li>
      <li>Kasacho operation (first attempt failed)</li>
      <li>I'm still developing this site</li>
    </ul>
    <br />
    <p>Last update on February 26th, 2024</p>
  </main>
</Layout>
