---
import "@styles/global.css";
import Layout from "@layouts/Layout.astro";

const title = "Uses";
const lang = "en";
---

<Layout title={title} lang={lang}>
  <h1>Uses</h1>
  <p>Some work tools, apps, gadgets and stuff that I use frequently in my daily life and offer my best version.</p>
  <h3>Hardware</h3>
  <ul>
    <li>MacBook Pro 13" M1 16Gb-512Gb</li>
    <li>Mouse Logitech MX Master 3s</li>
    <li>Teclado Skyloong GK68XS</li>
    <li>Monitor Dell P2719HC 27"</li>
    <li>HP 13" 16Gb-256Gb</li>
  </ul>
  <h3>Software</h3>
  <ul>
    <li><a href="https://developer.android.com/studio">Android Studio</a> (Android development)</li>
    <li><a href="https://www.jetbrains.com/idea/">IntelliJ IDEA</a></li>
    <li><a href="https://code.visualstudio.com/">Visual Studio Code</a></li>
    <li><a href="https://www.charlesproxy.com/">Charles (proxy)</a></li>
    <li><a href="https://obsidian.md/">Obsidian (notes)</a></li>
    <li><a href="https://ticktick.com/">TickTick (tasks)</a></li>
    <li><a href="https://open.spotify.com/">Spotify (mainly for music)</a></li>
    <li><a href="https://gif.ski/">Gifski (convert videos to gifs for PRs)</a></li>
    <li><a href="https://bitwarden.com/">Bitwarden (passwords)</a></li>
    <li><a href="https://raindrop.io/">Raindrop (bookmarks)</a></li>
    <li><a href="https://squoosh.app/">Squoosh (images optimisation)</a></li>
  </ul>
  <h3>Mobile</h3>
  <ul>
    <li>Samsung Galaxy A72</li>
    <li>Moto X4 (testing purposes)</li>
    <li>Galaxy Earbuds 2</li>
  </ul>
  <h3>Software</h3>
  <ul>
    <li>GitHub</li>
    <li>Feedly</li>
    <li>Forest</li>
    <li>Duolingo</li>
  </ul>
  <h3>Consoles</h3>
  <ul>
    <li>Nintendo Switch</li>
    <li>Xbox 360 Elite</li>
  </ul>
</Layout>
