---
import "@styles/global.css";
import Social from "@components/Social.astro";
import { englishLegalLinks, socialLinks, spanishLegalLinks } from "src/constants";

interface Props {
  lang: string;
}

const { lang } = Astro.props;
const legalLinks = lang == "en" ? englishLegalLinks : spanishLegalLinks
---

<footer>
  <div class="copyright">
    {
      lang === "es" ? (
        <p>
          Este trabajo está bajo la licencia <strong>CC BY-SA 4.0</strong> | © 2024 Martín Morales
        </p>
      ) : (
        <p>
          All work licensed under <strong>CC BY-SA 4.0</strong> | © 2024 Martín Morales
        </p>
      )
    }
  </div>
  <div class="legal">
    {
      legalLinks.map((link) => (
        <a href={link.route}>{link.menu}</a>
      ))
    }
  </div>
  <div class="social">
    {
      socialLinks.map((link) => (
        <Social platform={link.platform} username={link.username} />
      ))
    }
  </div>
</footer>
