---
import Social from "./Social.astro";
import Navigation from "./Navigation.astro";
---

<footer>
    <Navigation />
    <div class="social">
        <Social platform="instagram" username="isthemartin" />
        <Social platform="github" username="IsTheMartin" />
        <Social platform="goodreads" username="isthemartin" />
    </div>
</footer>
<style>
    .social {
        margin-top: 0.15rem;
    }    
</style>