---
import "@styles/global.css";
import { englishNavLinks, spanishNavLinks } from "src/constants";

interface Props {
  lang: String;
}

const { lang } = Astro.props;
console.log(lang);
const internalLinks = lang == "en" ? englishNavLinks : spanishNavLinks;
---

<nav class="links-container">
  {
    internalLinks.map((link) => (
        <a href={link.route}>{link.menu}</a>
    ))
  }
</nav>
