---
import "@styles/global.css";
import { getCollection } from "astro:content";
import FormattedDate from "./FormattedDate.astro";

interface Props {
	lang: String;
}

const { lang } = Astro.props;

const posts = await getCollection("post", ({ data }) => {
    return data.lang == lang;
});
posts.sort((a, b) => Date.parse(b.data.date) - Date.parse(a.data.date));
---

<nav>
    {
        posts.map((post) => (
            <a href={`/${post.slug}`}>
                <p>{post.data.title}</p>
                <hr />
                <span>
                    <FormattedDate
                        date={post.data.date}
                        lang={post.data.lang}
                    />
                </span>
            </a>
        ))
    }
</nav>
