---
import "@styles/global.css";
import Social from "@components/Social.astro";
import { socialLinks } from "src/constants";

interface Props {
  lang: string;
}

const { lang } = Astro.props;
---

<footer>
  <div class="social">
    {
      socialLinks.map((link) => (
        <Social platform={link.platform} username={link.username} />
      ))
    }
  </div>
</footer>
