*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: 0 0;
    text-decoration: none;
    outline: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    font-weight: inherit;
    font-style: inherit;
    color: inherit;
    border: 0;
    list-style: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:active,
:visited {
    color: inherit;
}

:root {
    --dark-blue: #101e27;
    --midnight-blue: #0c181f;
    --bgl: #DDF2FD;
    --navy-blue: #203c4f;
    --steel-blue: #4c6272;
    --light-gray: #e8ebed;
    --silver: #f2f2f2;
    --ff: "Poppins", "Iowan Old Style", "Iowan", "Georgia", serif;
    --fm: "SF Mono", Consolas, monospace;
    --fs: 14px;
    --fl: 26px;
    --fw: 400;
    --fst: normal;
    --ss: 0.889;
    --sm: 1.2;
    --sl: 1.4;
    --sx: 1.6;
    --ls: 9rem;
    --ln: 18rem;
    --lw: 36rem;
    font-size: var(--fl);
    font-family: var(--ff);
    font-weight: var(--fw);
    font-style: var(--fst);
    background: var(--dark-blue);
    color: var(--light-gray);
}

::selection {
    background: var(--navy-blue);
    color: var(--light-gray);
}

body {
    padding: 0.35rem 1.5rem 2rem;
}

*,
::after,
::before {
    font-size: var(--fs);
    line-height: 1rem;
}

blockquote,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
nav,
ol,
p,
pre,
ul {
    margin-right: auto;
    margin-left: auto;
    max-width: var(--ln);
}

h2 {
    font-size: calc(var(--fs)*var(--sl));
    line-height: 1.2rem;
    font-weight: 600;
}

h2,
h3 {
    padding-top: .35rem;
    padding-bottom: .35rem;
}

main h2,
main h3,
pre {
    margin-bottom: 0.75rem;
}

h3,
h3 span,
h4,
h5,
h6 {
    font-size: calc(var(--fs)*var(--sm));
    line-height: 1rem;
    font-weight: 600;
}

a {
    font-weight: inherit;
    font-size: inherit;
    line-height: inherit;
}

main a,
section a {
    text-decoration: underline;
    text-decoration-color: var(--navy-blue);
    text-decoration-skip-ink: none;
    text-decoration-thickness: .1rem;
    transition: text-decoration .3s;
}

main a:hover,
section a:hover {
    text-decoration-color: var(--steel-blue);
}

h1>a {
    text-decoration: none;
}

h1>a:hover {
    text-decoration-color: var(--steel-blue);
    color: var(--steel-blue);
}

h1,
hr {
    margin-bottom: 1.75rem;
}

h1 {
    font-size: calc(var(--fs)*var(--sx));
    font-weight: 800;
    line-height: 1.2rem;
    padding-bottom: .35rem;
    padding-top: .35rem;
}

h2,
h3,
h4,
h5,
h6 {
    text-align: left;
    margin-top: 2rem;
}

p+p {
    text-indent: 1rem;
    margin-top: 0.5rem;
}

hr {
    display: block;
    border: 0;
    height: 2px;
    margin-top: 2rem;
    background: var(--bgl);
    width: var(--ls);
}

blockquote {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

b,
h1,
strong {
    font-weight: 600;
}

.current,
blockquote p,
em,
i,
nav .current {
    font-style: italic;
}

code {
    font-family: var(--fm);
    background: var(--silver);
    font-size: calc(var(--fs)*var(--ss));
    line-height: .8rem;
}

pre:not(:first-child) {
    margin-top: 1rem;
}

pre code {
    font-size: calc(var(--fs)*var(--ss));
    line-height: .8rem;
    font-family: var(--fm);
    padding: 1rem;
    display: block;
    overflow-x: auto;
    white-space: pre;
}

p code {
    display: inline-block;
    text-indent: 0;
    padding: 0 .25rem;
}

dl,
ol,
ul {
    margin-top: 1rem;
    margin-bottom: 1rem;
    list-style-position: inside;
}

ol li {
    list-style-type: upper-roman;
}

ul li {
    list-style-type: circle;
}

del {
    text-decoration: line-through;
    text-decoration-color: var(--light-gray);
    text-decoration-thickness: 3px;
}

.m-o {
    margin-top: 1rem;
    margin-bottom: 1rem;
    max-width: var(--lw);
}

.img {
    display: block;
    max-width: 100%;
    max-height: 80vh;
    border-radius: 2px;
    margin: auto;
}

.mv-i {
    padding-bottom: 56.25%;
    height: 0;
    background: var(--bgl);
}

.mv-i embed,
.mv-i iframe,
.mv-i object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

figcaption,
section {
    text-align: center;
    font-style: italic;
}

figcaption {
    margin-top: 0.75rem;
}

[data-template=with] .m-m {
    padding: 0.5rem;
    background: var(--midnight-blue);
}

[data-template=with] .img {
    box-shadow: 0 10px 17px rgba(0, 0, 0, .1);
}

main {
    margin-top: 2rem;
    margin-bottom: 3rem;
}

section {
    margin-bottom: 3rem;
}

section h3 {
    font-style: normal;
}

figcaption,
section p {
    font-size: calc(var(--fs)*var(--ss));
    line-height: .8rem;
}

footer nav {
    margin-bottom: 3rem;
}

nav:last-child {
    margin-bottom: 7rem;
}

details h3 {
    display: flex;
    align-items: center;
    margin-top: 1rem;
}

nav>h3:first-of-type {
    text-align: center;
    display: block;
}

h3 span:last-child {
    margin-left: auto;
}

details>a, 
nav>a {
    transition: color .3s ease-out;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-gap: .3rem;
}

details>a:hover,
nav>a:hover,
summary:hover {
    color: var(--steel-blue);
}

nav a p {
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}

nav hr {
    margin: 0 0 .3rem;
    align-self: end;
    height: 1px;
    border: 0;
    border-bottom: 1px dashed var(--light-gray);
    opacity: .25;
    min-width: 1rem;
    width: 100%;
}

details {
    text-align: center;
}

details summary::-webkit-details-marker,
details[open] summary {
    display: none;
}

footer a,
summary {
    font-size: calc(var(--fs)*var(--ss));
    line-height: .8rem;
}

summary {
    font-style: italic;
    padding: .25rem .75rem;
    display: inline-block;
    margin-top: 1rem;
    border: 1px solid var(--silver);
    border-radius: 999px;
    transition: color .3s linear;
    cursor: pointer;
}

header.main {
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    max-width: var(--ln);
    display: block;
}

header.main a {
    font-size: calc(var(--fl)*var(--ss));
    font-weight: bolder;
}

footer {
    margin-top: 2rem;
    text-align: center;
}

footer a {
    margin: 0 .15rem;
}

nav.links-container {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    width: 100%;
    margin: 0 auto 0;
}

nav.links-container>a {
    color: var(--light-gray);
    border-bottom: none;
    border-radius: 5px;
    padding: 1px 12px;
    text-decoration: none;
}

nav.links-container a:hover {
    background-color: var(--navy-blue);
    transition: background-color .5s ease-out;
}

nav.links-container a.active {
    background-color: var(--navy-blue);
}

.social {
    margin-top: 0.15rem;
}

.routes a:hover, 
.social a:hover {
    color: var(--steel-blue);
}

.post-header {
    margin-bottom: 2rem;
}

.post-header > h1 {
    margin-bottom: 0.1rem;
}

.copyright {
    margin-bottom: 0.5rem;
}

.copyright > p {
    font-size: calc(var(--fs)*var(--ss));
}

@media (min-width: 500px) {
    :root {
        --fs: 16px;
        --fl: 32px;
    }

    nav.links-container>a {
        display: inline-block;
    }
}

@media (min-width: 2000px) {
    :root {
        --fs: 20px;
        --fl: 38px;
    }
}

@media (min-width: 600px) {
    dl,
    ol,
    ul {
        list-style-position: outside;
    }

    [data-template=with] .m-m {
        padding: 2rem;
    }
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/poppins-regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }